# Игнорировать все .meta файлы (Unity)
*.meta

# Игнорировать файлы сборки Unity
*.csproj
*.sln
*.unityproj
*.userprefs
*.pidb
*.suo
*.svd
*.pdb
*.opendb
*.VC.db

# Игнорировать файлы кэша Unity
Library/
Temp/
Obj/
Logs/
MemoryCaptures/

# Игнорировать файлы кэша сборки Addressables
Build/
Builds/
ServerData/
StreamingAssets/

# Игнорировать настройки и пользовательские файлы
UserSettings/
*.bak
*.swp
*.lock
.DS_Store
Thumbs.db

# Игнорировать скрытые папки и файлы Mac и Windows
._*
